body{
font-family: Arial;
background:#121212;
color:white;
text-align:center;
padding:50px;
}

.container{
max-width:600px;
margin:auto;
}

.botao{
background:#4CAF50;
color:white;
padding:15px 30px;
text-decoration:none;
font-size:20px;
border-radius:10px;
}

.botao:hover{
background:#45a049;
}
